@media screen and (max-width: 1164px){
    .heading{
        font-size: 55px;
            }
}
/* small laptops  md */
@media screen and (max-width: 1082px) {
    .button{
        padding: 12.5px 41px;
  
    }
    .button::before{
	height:106.6%;
    left:2%
    }

    .nav-link{
        margin-left: 0;
    }
   
    .heading{
        font-size: 4rem;
    }
    .heading-p{
        font-size: 12px;
    }
    .header-text{
        font-size: 40px;
            }
   
    .makeup-p{
   
        width: 45vw;
        font-size: 1.3rem;
        margin-top: 0;

    }
    .makeup-left {
        height: 450px;}
    .portfolio-link{
            font-size: 1.4rem;
            left:30;
    }
       
}
@media screen and (max-width: 1000px) {
    .heading{
        font-size: 2.8rem;
    }
    .banner-left {
        margin-left: 5rem;
}
.header-text{
    padding: 20px;
}
.form-input{
    width: 300px;
}
.button-tutorial::before{
    height: 108%;
    left: 1.5%;
    top:-18%;
    width:102%;
}

    
}
/* tablets- sm  */
@media screen and (max-width: 763px) {
    .reviews-text{
        font-size: 0.6rem;
    }
    .button::before{
        height:100.6%;
        left:2%;
        height: 115%;
        top: -18%
        }
    .button{
        padding: 10px 33px;

        font-size: 0.6rem;
    }
    header{
        background-image: url(../assets/bg-pink.jpg) ;
        background-size: cover;
     
    }
    .portfolio-link{
        font-size: 1.1rem;
        font-weight: 500;
        width: 100%;
        left:0
    }
    .reviews::before{
        height:95%
    }
    .reviews-right{
        margin-top: -10%;
    }
    .img-grid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portfolio{
        background-color: var(--pink);
    }
   
         .header-text{
            font-size: 10px;
         }
        .nav-link {
            margin-left: 5%;
        }
       .banner{
        height: 40%;
       }
        .banner-left{
            margin: 0;
            height: 87vh;
        }
    
        .heading{
            font-size: 2.8rem;
        }
        .container-nav{
            display: flex;
            justify-content: space-around;
            margin: 0;
        }
       
        .lower{
            flex-direction: column;
            margin: 2rem;
       
        }
        .masterclass-heading{
            font-size: 3rem;
        }
        .schedules-left{
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin-left: 0;
             margin-bottom: 2rem;

        }
        .form-input{
            width: 307px;
        }
        .right-form{
            padding: 2rem 2rem;
            margin-top: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;                  
        }
        .right-form::before{
            content: "";
                top:0;
                left: 0;
                position: absolute;
           
            background-position: center;
            background-repeat: no-repeat;
        }
        .reviews::before{
            top: 10px;
        }
}
