:root {
    --pink:#FDF1EE;
    --black: #000000; 
    --dark_gray: #5a5858; 
    --white: #ffffff; 
    --darker_pink: #FDF5F3;
    --btn-border: #E9DCDA;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
   
}

li {
    list-style: none;
}

.button{
    color: var(--dark_gray);
    border: 2px solid  var(--btn-border);
    background: none;
    padding: 20px 60px;
    position:relative;
    font-size: 0.7rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    
}

.button::before{
    content: "";
    border: 2px solid  var(--btn-border);
    width:102.6%;
	height:107%;
    display:block;
	position:absolute;
    padding:20px;
    top:-10%;
    left: 1%
}

.button:hover{
    transform: scale(1.05);
    transition: 0.1s ease;
}

#masterclass-button::before{
    width:101.5%;
}

.bold{
    font-weight: 500;
}

.relative{
    position: relative;
}

/* navbar */

.logo{
    width: 220px;
}
.logo-small{
    width: 120px;
}
header{
    width: auto;
    background-color:  var(--pink);
}
.navbar{
background-color:   var(--pink);
letter-spacing: 1.5px;
}
.instagram{
    text-decoration: none;
}

.nav-link {
    color: var(--black);
    font-size: 0.7rem;
    font-weight: 400;
    margin-left: 40px;
}
.nav-link:hover{    
    transition: 0.3s ease;
    transform: scale(1.05);
    color: var(--black);
}

.navbar-toggler-icon{
   background-color : #000000;
}
.button-nav{
    margin-left: 3rem;
}

.banner{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    margin-left: 10rem;

    z-index: 1;
}
.banner-right{
    margin-left: -60px;

    height: 110vh;
    background-image:  url(../assets/image\ 630.png) ;
    background-position: center;
    background-repeat: no-repeat;
} 

.heading{
    font-size: 80px;
    font-weight: 600;
  
}
.heading-p{
    width: 80%;
}
/* main */
.upper{
    width: 60%;
}
.cards{
    background-image: url(../assets/background-main.png);
    background-repeat: no-repeat;
}

.lower{
    border: none;
    width: 90%;
    margin-top: 10rem;
}
.card-image{
    width: 50px;
    }
    button {outline:0;}
/* masterclas section */
.masterclass{
    background-image: url(../assets/be_your_own_artist.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
    width: 85vw;
    color: var(--white);
}

.masterclass-heading{
    font-size: 4rem;
}
.masterclass-button{
    margin: -500px;
}
.mobile > img{
    width:  100%;
}

.portfolio-img{
    background-image: url(../assets/tutorials.png);
    background-repeat: no-repeat;
    height: 73vh;
    width: 60vw;
    background-position: center center;
    color: var(--white);
    margin: auto;
}
.portfolio-link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
    position: absolute;
    bottom: 16px;
    left: 50px;
}
.tutorials-link:hover{
    color: var(--white);
}
.makeup{
    background-color: var(--pink);
}
.makeup-left {
    background-image: url(../assets/makeup-1.png);
    background-repeat: no-repeat;
    height: 602px;
    width: 500.9px;
    background-position: center;
    background-size:     cover;
    margin-right: -50px;
}
.makeup-p{
    height: 150px;
    width: 40vw;
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-top: 4rem;
    color: black;
    font-weight: 400;
}
.makeup-img{
    width: 648px;
   
}
.portfolio-link-evening{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark_gray);
    position: absolute;
    bottom: 16px;
    left: 50px;  
}
/* schedules */

.link-secondary{
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.watch-video-btn{
border: 1px solid rgba(128, 128, 128, 0.486);
font-size: 0.7rem;
padding: 12px 43px;
font-family: 'Lato', sans-serif;
}
.span-chev{
    margin-left: 9px;
}
.border-bottom{
    border-bottom : 1px solid rgba(128, 128, 128, 0.486);
}

/* Reviews */
.reviews-left{
    margin-left: 2rem;
}

.review-img{
    width: 400px;
}
.z-index>*{
    z-index: 100;
}

.reviews::before{
    content: "";
    top: 50px;
    right: 0;
    position: absolute;
z-index: 1;
    width: 100%;
    height: 150%;
    background-color: #FDF1EE;
   }
  .form-left::before{
      content: "";
      position: absolute;
      z-index: 1;
      width:150%;
      height: 85%;
      background-image: url(../assets/lipstick.png);
      background-position: center;
      background-size:     cover;
  }
  .right-form{
      background-color: var(--white);
      padding: 8rem 7rem;
      margin-top: 6rem;
  }
  .form-input{
      width: 357px;
      height: 45px;
      font-size: 13px;
      padding-left: 10px;
  }
  .font-size-1{
    font-size: 12px;
  }
  .submit-btn{
      background-color: var(--black);
      color: var(--white);
      font-size: 12px;
      border: none;
  }
/* footer */

footer{
    background-color: var(--pink);
 
}
.border-bottom-footer{
    border-bottom: 2px solid var(--dark_gray);
}

.grid{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    align-content:center;

}

.grid-col{
max-width: 100%;
height: 100%;
overflow: hidden;
}

